* {
  margin: 0;
  box-sizing: border-box;
}

body {
  /* TO DO */
  /* overflow-x: hidden ; */
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
  background: whitesmoke;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 25px;
}

/* Loader */
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: whitesmoke;
}

/* Navigation */
.navigation-container {
  position: fixed;
  top: 0;
}

.navigation-items {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.background {
  position: fixed;
  right: 0;
  width: 100%;
  height: 60px;
  z-index: -1;
  background: whitesmoke;
}

.clickable {
  color: dodgerblue;
  cursor: pointer;
  user-select: none;
}

.clickable:hover {
  color: rgb(0, 99, 199);
}

/* Images cotainer  */
.images-container {
  width: 800px;
  margin-top: 50px;
}

.card {
  margin: 10px 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: white;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 20px;
}

.card-title {
  margin: 10px auto;
  font-size: 24px;
}

.dot {
  user-select: none;
}

/* Saved Confirmation */
.save-confirmed {
  position: fixed;
  right: 50px;
  bottom: 25px;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: 0.3s;
}

/* Hidden */
.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  body {
    line-height: 1.4rem;
    font-size: 0.9rem;
  }

  .images-container {
    width: 100%;
  }

  .card-title {
    font-size: 20px;
  }

  .save-confirmed {
    right: 25px;
  }
}
